@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

*, *:focus {
    font-family: "Inconsolata", monospace;
    outline: none;
    
}

html, body {
    margin: 0px;
    padding: 0;
    height: 100%;
    background-color: #1F1F1F;
  }

body {
    display: flex;
    flex-direction: column;
}

.nav-bar {
    display: flex;
    margin-right: 20px;
    justify-content: end;
    list-style: none;
}

.nav-bar a:hover {
    animation: slidein .5s;
    transform: translateY(-4px);
    fill: #00af89;
}

.icon {
    padding-left: 10px;
    width: 44px;
}

.content {
    flex: 1;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.menu {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu h2 {
    font-size: 60px;
    color: #fff;
    margin: 15px;
}

.menu code {
    display: flex;
    flex-direction: column;
}

.menu code p {
    text-decoration: none;
    color: #fff;
    margin: 0;
    padding:7px;
    cursor: pointer;
}

.print {
    color: #9901ff;
}

.codigo {
    color: #00af89;
}

#boton-sobremi {
    text-decoration: underline 1px;
    color: #00faA5;
}

.me {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mifoto {
    width: 40%;
    cursor: pointer;
}

.mitexto {
    margin: 0;
    color: #fff;
    font-size: 24px;
    width: 80%;
    text-align: left;
    overflow: hidden;
}

.top-bar {
    height: 20px;
    margin: 20px;
    background-color: #9901ff;
}

.bottom-bar {
    margin: 0 20px 20px 20px;
    height: 20px;
    background-color: #00af89;
}

footer {
    display: flex;
    justify-content: end;
    margin-right: 20px;
}

footer p {
    color: white;
}

.proyectos {
    width: 60%;
    display: none;
    flex-direction: column;
    justify-content: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 580px;
    scroll-behavior: smooth; /* Agregar un desplazamiento suave */
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    background-color: #9901ff;
    border-radius: 5px;
}

.card {
    flex: 0 0 calc(33.33% - 20px);
    max-width: 270px;
    background-color: #131313;
    display: flex;
    justify-content: end;
    align-items: center;
    color: #000;
    flex-direction: column;
    border-radius: 20px 20px 30px 30px;
    box-shadow: 1px 1px 4px 2px #a9aaaa0e;
    width: 100px;
    animation: slideout .5s;
    margin: 10px;
}


.card  img {
    width: 40%;
    margin-bottom: 10%;
}


.card .desarrollo {
    width: 100%;
    height: 60%;
    border-radius: 20px 20px 0 0;
    margin-bottom: 0;
}

.card:hover {
    animation: slidein .5s;
    transform: translateY(-4px);
    box-shadow: 1px -1px 7px 1px #a9aaaa4b;
}

.card-content {
    width: 100%;
    height: 40%;
    background-color: #181818;
    display: flex;
    align-items: center;
    color: #ffffff;
    flex-direction: column;
    border-radius: 0 0 20px 20px;
}

.card-content h2 {
    margin-top: 5%;
    margin-bottom: 0;
    font-size: 140%;
}

.card-content p {
    margin-top: 3%;
    margin-bottom: 0;
    text-align: center;
    font-size: medium;
}

#k96, #sinretorno  {
    background-color: #fff;
}

.modal {
    border: none;
    width: 60%;
    height: 60%;
    box-shadow: none;
    padding: 0;
}

.modal-content {
    display: flex;
    height: 100%;
    overflow: hidden;
}

.modal-description {
    width: 40%;
    background-color: #242424;
    color: #fff;
}

.modal-page {
    width: 60%;
    height: 100%;
}

.modal-page iframe {
    width: 100%;
    height: 100%;
}

.modal::backdrop {
    background-color: #0000008c;
    box-shadow: none;
}

.modal:focus {
    outline: none;
}

.modal-description img {
    width: 20px;
    cursor: pointer;
    margin: 10px;
}

.modal-description h1 {
    text-align: center;
    font-size: 30px;
}

.modal-description p {
    padding: 0 20px;
}

.modal-description ul {
    padding: 0 12px;
}

.link {
    text-decoration: none;
    padding: 0 20px;
    color: #d3d3d3;
}

.habilidades {
    display: none;
    align-items: center;
    justify-content: left;
    width: 60%;
}

.cuadrilla {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto); 
    gap: 50px 0;
}

.skills {
    width: 50%;
    animation: slideout .5s;
}

.skills:hover {
    animation: slidein .5s;
    transform: translateY(-4px);
}


.contactame {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
}

.redes, .formulario {
    padding-left: 30px;
    width: 40%;
    color: white;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario form {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.formulario form input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
    border: none;
}

.correoelectronico {
    display: flex;
    align-items: center;
}

@keyframes slidein {
    from {
      transform: translateY(0%);
    }
  
    to {
      transform: translateY(-4px);
    }
  }

  @keyframes slideout {
    from {
      transform: translateY(-4px);
    }
  
    to {
      transform: translateY(0%);
    }
  }


.menu-responsive, .titulo-responsive {
    display: none;
}